body {
    margin: 0;
    height: 100vh;
    background-image: url("../images/Zolder.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;
}

.game-screen {
    width: 900px;
    height: 650px;
    position: relative;

    background-image: url("images/Kamer2.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.back,
.home {
    position: absolute;
    top: 20px;

    background: none;
    border: none;

    color: red;
    font-size: 45px;
    cursor: pointer;
}

.back {
    left: 20px;
}

.home {
    right: 20px;
}

h1 {
    position: absolute;
    top: 35px;
    width: 100%;

    margin: 0;

    text-align: center;
    color: white;

    font-family: 'Cinzel', serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
}

.scan-top {
    position: absolute;

    width: 95px;
    height: 95px;

    top: 125px;
    left: 50%;
    transform: translateX(-50%);

    background-color: white;
}

.scan-row {
    position: absolute;

    top: 270px;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    gap: 55px;
}

.scan-box {
    width: 145px;
    height: 180px;
    background-color: white;
}

.next-btn {
    position: absolute;

    right: 40px;
    bottom: 30px;

    width: 180px;
    height: 65px;

    background-color: #423441;

    color: white;
    font-family: 'Cinzel', serif;
    font-size: 24px;

    border: none;
    border-radius: 12px;

    cursor: pointer;
}