body {
    margin: 0;
    height: 100vh;
    background-image: url("../images/Slaapkamer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;
}

.game-screen {
    width: 900px;
    height: 650px;
    position: relative;
    overflow: hidden;
}

.back,
.home {
    position: absolute;
    top: 20px;

    background: none;
    border: none;

    color: red;
    font-size: 45px;
    cursor: pointer;
}

.back {
    left: 20px;
}

.home {
    right: 20px;
}

h1 {
    position: absolute;
    top: 30px;

    width: 100%;

    margin: 0;

    text-align: center;

    color: white;
    font-family: 'Cinzel', serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.puzzle-box {
    position: absolute;

    top: 120px;
    left: 50%;

    transform: translateX(-50%);

    width: 620px;
    height: 330px;

    background-color: #d3d3d3;
}

.scrambled-word {
    text-align: center;

    margin-top: 30px;

    font-family: 'Cinzel', serif;
    font-size: 34px;
    color: black;
}

.letters {
    display: flex;
    justify-content: center;
    gap: 40px;

    margin-top: 80px;
}

.letter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter-box span {
    font-family: 'Cinzel', serif;
    font-size: 28px;
    color: black;

    margin-bottom: 10px;
}

.line {
    width: 60px;
    height: 2px;
    background-color: black;
}